- name: Control active and configured mount points
  mount:
    fstype: '{{ item.fstype }}'
    src: '{{ item.src }}'
    path: '{{ item.path }}'
    backup: '{{ item.backup | default(omit) }}'
    boot: '{{ item.boot | default(omit) }}'
    dump: '{{ item.dump | default(omit) }}'
    fstab: '{{ item.fstab | default(omit) }}'
    opts: '{{ item.opts  | default("defaults") }}'
    passno: '{{ item.passno | default(omit) }}'
    state: '{{ item.state  | default("mounted")  }}'
  with_items: '{{ mount }}'
